<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Ead-Da-Burger!</title>
		{{!-- jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- Css --}}
		<link rel="stylesheet" href="../../assets/css/burger_style.css" type="text/css" />
		{{!-- Bootstrap --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		{{{ body }}}
	</body>
	{{!-- Script for button handlers --}}
	<script>
		$(function(){
			// When the user clicks a button to create a new burger
			$('#new_burger_btn').on('click',function(event){
				event.preventDefault();
				// Create a new burger object
				var new_burger = {
					name: $('#new_burger').val().trim(),
					devoured: false
				};
				// Make an ajax call, passing in the new burger object
				$.ajax('/api/burgers',{
					type: 'POST',
					data: new_burger
				}).then(function(){
					location.reload();
				})
			})
			// When the user cliks on a burger...
			$('.eat_burger_btn').on('click',function(event){
				event.preventDefault();
				// Create a new state object
				var new_state = {
					devoured: true
				}
				// Make an ajax call, changing the state of the burger that has been clicked
				$.ajax('api/burgers/' + this.value,{
					type: "PUT",
					data: new_state
				}).then(function(){
					console.log('burger updated');
					location.reload();
				})
			})
		})
	</script>
</html>
